.my-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1060;
    transform: translate(-50%,-50%);
}

.back-color-main {
    background-color: #f1f8ff!important;
}
.back-color-md {
    background-color: #e6eefc!important;
}
.back-color-front {
    background-color: #dde1e7!important;
}
.font-red {
    color: #ff3131!important;
}

.text-center {
    text-align: center;
    align-content: center;
}

.error {
    color: #ff3131!important;
}

.text-color-ref {
    color: #3762c4;
}

.text-color-light {
    color: #00acac;
}

.my-modal-relative {
    float: inside;

}
hr {
    border-color:#00acac;
    color:#00acac;
    background-color: #00acac;
}
.border {
    border: 1px solid #b7ffff !important;
}

.mark-block {
    height: 3.0rem;
}

.fill-block {
    width: 100%;
    height: 100%;
}

.input-field-main {
    width: 100%;
    height: 60vh;
    border: 0;
    resize: none!important;
}

.input-field-name {
    width: 80%;
    height: 4vh;
    border: 0;
}
.input-field-name:focus, .input-field-main:focus {
    outline: none;
}