<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Редактирование книги</title>
</head>
<body class="back-color-main">
<div class="align-content-center my-modal border p-2 back-color-md">
    <form action="#" th:action="@{/books/edit}" th:object="${editForm}" method="post">
        <p class="text-center">Редактирование книги</p>
        <p>
        <table>
            <tr>
                <td>Название:</td>
                <td><input сlass="back-color-front" type="text" th:field="${editForm.name}"/></td>
            </tr>
            <tr>
                <td>Автор:</td>
                <td><input сlass="back-color-front" type="text" th:field="${editForm.author}"/></td>
            </tr>
            <tr>
                <td>Год:</td>
                <td><input сlass="back-color-front" type="text" th:field="${editForm.year}"/></td>
            </tr>
        </table>
        </p>
        <p class ="text-center">
            <input сlass="back-color-front" type="submit" value="Подтвердить"/>
        </p>
    </form>
</div>
</body>




</html>