<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-responsive.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:href="@{/js/bootstrap.js}">
    </script>
    <title>Список книг</title>
</head>


<body class="back-color-main">

<header class="row-fluid">
    <div class="span1 p-0 text-right">
        <a th:href="@{/}">
            <svg xmlns="http://www.w3.org/2000/svg" height="4.5rem" fill="currentColor" class="bi bi-sticky text-color-light p-3" viewBox="0 0 16 16">
                <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5v-11zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293L9 13.793z"/>
            </svg>
        </a>
    </div>
    <div class="span3 p-0 m-0 text-left">
        <h1 class="text-color-light p-0 m-0">Notes</h1>
        <p  class="text-color-light p-0 m-0">© Круглов Игорь 2021</p>
    </div>
    <div class="span4 p-0">
    </div>
    <div class = "span3 p-0 fill-col text-right">
        <button class="btn btn-outline-primary" onclick="location.replace('/login')">
            Войти
        </button>
    </div>
</header>

<hr/>

<div class="offset2 span5">
    <div class="align-content-center my-modal-relative p-3 back-color-md">
        <form action="#" th:action="@{/registration}" th:object="${form}" method="post">
            <h2 class="text-center">Регистрация</h2>
            <p>
            <table>
                <tr>
                    <td>Имя пользователя:</td>
                    <td><input сlass="back-color-front" type="text" required="required" th:field="${form.username}"/></td>
                </tr>
                <tr th:if="${eName}">
                    <td></td>
                    <td class="error">Пользователь с таким именем уже существует</td>
                </tr>
                <tr>
                    <td>Почта:</td>
                    <td><input сlass="back-color-front" required="required" type="email" th:field="${form.email}"/></td>
                </tr>
                <tr>
                    <td>Пароль:</td>
                    <td><input сlass="back-color-front" required="required" type="password" th:field="${form.password}"/></td>
                </tr>
                <tr>
                    <td>Подтвердите пароль:</td>
                    <td><input сlass="back-color-front" required="required" type="password" th:field="${form.passwordConf}"/></td>
                </tr>
                <tr th:if="${eConf}">
                    <td></td>
                    <td class="error">Пароли не совпадают</td>
                </tr>
            </table>
            </p>
            <p class="text-center">
                <input class ="btn back-color-front" type="submit" value="Зарегистрироваться"/>
            </p>

            <p>Уже есть аккаунт? <a th:href="@{/login}">Войти.</a></p>
        </form>
    </div>
</div>
<div class="offset2 span3">
    <h1 class="text-color-light">Сервис Notes</h1>
    <p>Простой сервис для составления простых заметок.</p>
    <p>Зарегистрируйтесь, чтобы начать им пользоваться уже сейчас!</p>
</div>

</body>
</html>