<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-responsive.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:href="@{/js/bootstrap.js}">
    </script>

    <script>
        path = window.location.host

        function removeGroup(sourceID) {
            let element = document.getElementById(sourceID)



        }

        function addGroupEdit() {
            let lst = document.getElementById("list-groups")
            let element = document.createElement("input")
            element.setAttribute("type", "text")
            element.setAttribute("class", "group-edit")

            lst.appendChild(element)
            element.addEventListener('focusout', function (event) {
                if ((element.value == null) || (element.value === "")) {
                    element.remove()
                } else {
                    axios.get("/request/new_group", {
                        withCredentials: true,
                        params: {
                            "name": element.value
                        }
                    }).then(res => {
                        location.reload()
                    });
                }
            });
            element.focus()
        }

    </script>

    <title>Notes</title>

</head>


<body class="back-color-main">
<div class="row-fluid">
    <div class="span2 back-color-md p-3">
        <div>
            <table>
                <tr>
                    <td>
                        <p class="text-color-light">Пользователь:</p>
                        <h3 class="text-color-light" th:text="${user.username}"></h3>
                    </td>
                </tr>
            </table>
        </div>
        <hr/>
        <p></p>
        <form th:action="@{/profile}" method="get">
            <input type="submit" value="Профиль" class="btn back-color-md text-color-ref"/>
        </form>
        <p></p>
        <form th:action="@{/settings}" method="get">
            <input type="submit" value="Настройки" class="btn back-color-md text-color-ref"/>
        </form>
        <p></p>
        <form th:action="@{/colors}" method="get">
            <input type="submit" value="Цветовая схема" class="btn back-color-md text-color-ref"/>
        </form>
        <hr/>
        <p></p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выход" class="btn back-color-md font-red"/>
        </form>

        <hr/>
        <form th:action="@{/about}" method="get">
            <input type="submit" value="О сайте" class="btn back-color-md text-color-ref"/>
        </form>
    </div>
    <div class="span4 border">
        <p></p>
        <form method="get">
            <fieldset>
                <div class ="row-fluid">
                    <div class="span8">
                        <input type="search" placeholder="Поиск" name="search" class="row-fluid search-query text-color-light back-color-md"
                        style="border:0"/>
                    </div>
                    <div class="span3">
                        <input type="submit" class="btn back-color-md" value="Найти"/>
                    </div>
                </div>

                <div class ="row-fluid">
                    <div class="span6">
                        <label class="check-box">
                            <input type="checkbox" name="search_groups"/> По группам
                        </label>
                    </div>
                    <div class="span6">
                        <label class="check-box">
                            <input type="checkbox" name="search_notes"/> По заметкам
                        </label>
                    </div>
                </div>
            </fieldset>
        </form>
        <hr/>
        <div class ="row-fluid">
            <div class="span5">
                <div id = "list-groups">
                    <div class ="mark-block" th:each="group: ${groups}" th:id="${group.id}">
                        <a class = "btn d-block mark-block p-0 m-0" th:href="'/home/'+${group.id} + '/-1'">
                            <div th:class="'fill-block ' + (${group.id eq selectedGroup}?'back-color-md')">
                                <table>
                                    <tr>
                                        <td width="90%" th:text="${group.name}"></td>
                                        <td width="10%">
                                            <button th:onclick="'renameGroup('+${group.id}+');event.stopPropagation();'" class = "btn-edit">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="90%"></td>
                                        <td width="10%">
                                            <button th:onclick="'removeGroup('+${group.id}+');event.stopPropagation();'" class = "btn-edit">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </a>
                        <hr class="p-0 m-0"/>
                    </div>
                </div>
                <div class="mark-block text-center">
                    <button class="btn back-color-md" onclick="addGroupEdit()">
                        +
                    </button>
                </div>
            </div>
            <div class="span5">
                <div class ="mark-block" th:each="note: ${notes}" th:id="${note.id}">
                    <a class = "btn d-block mark-block p-0 m-0" th:href="'/home/'+${selectedGroup}+'/'+${note.id}">
                        <div th:class="'fill-block ' + (${note.id eq selectedNote}?'back-color-md')">
                            <p class="p-0 m-0" th:text="${note.name}"></p>
                            <p class="p-0 m-0" th:text="${note.description}"></p>
                        </div>
                    </a>
                    <hr class="p-0 m-0"/>
                </div>
                <div class="mark-block text-center" >
                    <form th:action="'/request/new_note/'+${selectedGroup}" method="post">
                        <input type="submit" class="btn back-color-md" value="+"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="span5">
        <div class="back-color-md border">
            <h1 class="text-color-light">Notes</h1>
            <p  class="text-color-light">© Круглов Игорь 2021</p>
        </div>
        <div th:if="${noteIsSelected}">
            <p></p>
            <form th:action="'/request/save/'+${selectedNote}" th:object="${note}" method="post">
                <input type="text" placeholder="Название заметки" th:field="${note.name}" class="input-medium search-query text-color-light back-color-md input-field-name"/>
                <p></p>
                <textarea class="back-color-md text-color-light input-field-main" placeholder="Заметка" th:field="${note.content}"></textarea>
                <p></p>
                <input type="submit" class="btn back-color-md" value="Сохранить"/>
            </form>
        </div>
    </div>
</div>



</body>
</html>