<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-responsive.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/scss" th:href="@{/css/tt.scss}"/>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js">
    </script>

    <script th:if="${noteIsSelected}" th:text="'noteID = ' + ${selectedNote}">

    </script>
    <script th:if="${noteIsSelected}">
        function saveNote(sourceID, upd) {
            let note_name = document.getElementById("note-name")
            let note_body = document.getElementById("note-body")
            axios.get("/request/save_note", {
                withCredentials: true,
                params: {
                    "id": sourceID,
                    "name": note_name.value,
                    "body": note_body.value
                }
            }).then(function (object){
                if (upd) {
                    location.reload()
                }
            });

        }
    </script>


    <script>
        path = window.location.host

        form_yes = null
        form_no  = null
        form_args = null
        form_clear = null

        function ask(msg, args, yes_func, no_func) {
            form_args = args
            form_yes  = yes_func
            form_no   = no_func

            let root = document.getElementById("root_element")
            let msg_box = document.createElement("div")
            let filler = document.createElement("div")
            filler.setAttribute("class", "filler")
            filler.setAttribute("onclick", "event.stopPropagation()")
            root.appendChild(filler)
            msg_box.setAttribute("class", "align-content-center my-modal p-3 back-color-md")
            let msg_info = document.createElement("h4")
            msg_info.textContent = msg
            msg_box.appendChild(document.createElement("p"))
            msg_box.appendChild(msg_info)
            msg_box.appendChild(document.createElement("p"))
            msg_box.appendChild(document.createElement("p"))
            let table = document.createElement("table")
            table.setAttribute("style", "width:100%")
            let table_row = document.createElement("tr")
            let bt1_container = document.createElement("td")
            let bt2_container = document.createElement("td")

            bt1_container.setAttribute("class", "text-center")
            bt2_container.setAttribute("class", "text-center")

            let bt_no = document.createElement("button")
            bt_no.setAttribute("class", "btn btn-success btn-lg")
            bt_no.setAttribute("onclick", "form_no(form_args); form_clear(); event.stopPropagation()")
            bt_no.textContent = "Нет"

            let bt_yes = document.createElement("button")
            bt_yes.setAttribute("class", "btn btn-danger btn-lg")
            bt_yes.setAttribute("onclick", "form_yes(form_args); form_clear(); event.stopPropagation()")
            bt_yes.textContent = "Да"

            form_clear = function() {
                msg_box.remove()
                filler.remove()
            }

            bt1_container.appendChild(bt_no)
            bt2_container.appendChild(bt_yes)
            table_row.appendChild(bt1_container)
            table_row.appendChild(bt2_container)
            table.appendChild(table_row)
            msg_box.appendChild(table)
            root.appendChild(msg_box)
        }
        function forceRemove(sourceID) {
            axios.get("/request/remove_group", {
                withCredentials: true,
                params: {
                    "id": sourceID
                }
            }).then(function (res){
                location.reload()
            });

            //document.getElementById(sourceID+"g").remove()
        }
        function nope(sourceID) {

        }
        async function groupSize(sourceID) {
            let size = -1
            await axios.get("/request/group_size", {
                withCredentials: true,
                params: {
                    "id": sourceID
                }
            }).then(function (ret) {
                size = ret.data['object']
            });
            return size

        }
        function removeGroup(sourceID) {
            let sizep = groupSize(sourceID)
            sizep.then(function (size){
                if (size == 0) {
                   forceRemove(sourceID)
                } else {
                    ask("Вы уверены? Данную операцию нельзя отменить!", sourceID, forceRemove, nope)
                }
            })

        }

        function removeNote(sourceID) {
            ask("Вы уверены? Данную операцию нельзя отменить!", sourceID, removeNoteForce, nope)
        }
        function removeNoteForce(sourceID) {
            axios.get("/request/remove_note", {
                withCredentials: true,
                params: {
                    "id": sourceID
                }
            }).then(function (res){
                location.reload()
            });
            //document.getElementById(sourceID+"n").remove()
        }

        function renameGroup(sourceID) {
            let name = document.getElementById(sourceID)
            let defName = name.textContent

            let element = document.createElement("input")
            element.setAttribute("type", "text")
            element.setAttribute("class", "group-edit")
            element.value = defName

            name.textContent = ""
            name.appendChild(element)
            element.addEventListener('focusout', function (event) {
                if ((element.value == null) || (element.value === "")) {
                    name.textContent = defName
                } else {
                    name.textContent = element.value
                    axios.get("/request/rename_group", {
                        withCredentials: true,
                        params: {
                            "id": sourceID,
                            "name": element.value
                        }
                    });
                }
                element.remove()
            });
            element.addEventListener('keyup', function (ev) {
                ev.stopPropagation()
            })
            element.addEventListener('keydown', function (ev) {
                ev.stopPropagation()
            })
            element.addEventListener('keypress', function (ev) {
                ev.stopPropagation()
            })
            element.focus()
        }

        function addGroupEdit() {
            let lst = document.getElementById("list-groups")
            let element = document.createElement("input")
            element.setAttribute("type", "text")
            element.setAttribute("class", "group-edit")

            lst.insertBefore(element, lst.firstChild)
            element.addEventListener('focusout', function (event) {
                if ((element.value == null) || (element.value === "")) {
                    element.remove()
                } else {
                    axios.get("/request/new_group", {
                        withCredentials: true,
                        params: {
                            "name": element.value
                        }
                    }).then(res => {
                        location.reload()
                    });
                }
            });
            element.focus()
        }

    </script>

    <title>Notes</title>
</head>


<body class="back-color-main" id = "root_element">
<header class="row-fluid">
    <div class="span1 p-0 text-right">
        <a th:href="@{/}">
            <svg xmlns="http://www.w3.org/2000/svg" height="4.5rem" fill="currentColor" class="bi bi-sticky text-color-light p-3" viewBox="0 0 16 16">
                <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5v-11zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293L9 13.793z"/>
            </svg>
        </a>
    </div>
    <div class="span3 p-0 m-0 text-left">
        <h1 class="text-color-light p-0 m-0">Notes</h1>
        <p  class="text-color-light p-0 m-0">© Круглов Игорь 2021</p>
    </div>
    <div class="span4 p-0">
        <form method="get" th:action="@{/search}">
            <fieldset>
                <div class ="row-fluid">
                    <div class="span8">
                        <input type="search" placeholder="Поиск" name="search" class="row-fluid search-query text-color-light back-color-md search-class"
                               style="border:0" th:field="${searchInput}"/>
                    </div>
                    <div class="span3">
                        <button type="submit" class="btn back-color-md" value="Найти">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class ="row-fluid">
                    <div class="span6">
                        <label class="check-box">
                            <input type="radio" name="search_notes" value="1" th:field="${searchTarget}"/> По группам
                        </label>
                    </div>
                    <div class="span6">
                        <label class="check-box">
                            <input type="radio" name="search_notes" value="2" th:field="${searchTarget}"/> По заметкам
                        </label>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class = "span3 p-0 fill-col text-right">
        <div class="btn-group fill-block">
            <button type="button" class="btn userblock back-color-no text-color-light">
                <h3 class="d-inline" th:text="${user.username}"></h3>
                <img th:src="'/img/'+${user.username}+'.png'" class="img-thumbnail"/>
            </button>

            <button type="button" class="btn back-color-no dropdown-toggle dropdown-toggle-split"
                    style="max-width: 1.5vw" data-toggle="dropdown" aria-expanded="false">
            </button>

            <ul class="dropdown-menu">
                <li>
                    <form th:action="@{/profile}" method="get">
                        <input type="submit" value="Профиль" class="dropdown-item text-color-ref"/>
                    </form>
                </li>
                <li>
                    <form th:action="@{/settings}" method="get">
                        <input type="submit" value="Настройки" class="dropdown-item text-color-ref"/>
                    </form>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Выход" class="dropdown-item font-red"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</header>

<hr/>

<div class = "root">
    <div class="row-fluid">
        <div class="span3">
            <button class="btn btn-outline-info fill-row" onclick="addGroupEdit()">
                Новая группа
            </button>

            <hr/>
            <div class ="fill-row m-3">
                <div id = "list-groups" class="fill-row">
                    <div th:each="groups: ${superGroups}">
                        <div class="fill-row" th:each="group: ${groups}">

                            <div th:id="${group.id} + 'g'">
                                <button th:class= "'btn d-block fill-row p-0 m-0 ' + (${group.id eq selectedGroup}?'back-color-md')"
                                        th:onclick="${group.id != selectedGroup}?('location.replace(\'/home/'+${group.id} + '/-1\')')">
                                    <div class="fill-block group-block"
                                         th:id="${group.id}"
                                         th:onclick ="${group.testFlag(8) or (group.id != selectedGroup)}?'':('event.stopPropagation()')"
                                         th:ondblclick="${group.testFlag(8)}?'':('renameGroup('+${group.id}+');event.stopPropagation()')"
                                         th:text="${group.name}">
                                    </div>
                                </button>
                                <hr class="p-0 m-0"/>
                            </div>
                            <table class="fill-row" th:if="${group.id eq selectedGroup}">
                                <tr>
                                    <td>
                                        <button th:unless="${group.testFlag(1)}"
                                                th:onclick="'removeGroup('+${group.id}+');event.stopPropagation()'"
                                                class="btn-outline-danger">
                                            Удалить
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                            </svg>
                                        </button>
                                    </td>
                                    <td class="text-right">
                                        <button
                                                th:unless="${group.testFlag(8)}"
                                                th:onclick="'renameGroup('+${group.id}+')'"
                                                class="btn-outline-info d-inline-block">
                                            Переименовать
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                            </svg>
                                        </button>
                                        <button
                                                th:unless="${group.testFlag(16)}"
                                                th:onclick="'location.replace(\'/request/new_note/'+${group.id}+'\')'"
                                                class = "btn-outline-info d-inline-block">
                                            Новая заметка
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <hr th:if="${group.id eq selectedGroup}" class="p-0 m-0"/>

                            <div class = "notes" th:if="${group.id eq selectedGroup}">
                                <div class ="mark-block" th:each="note: ${notes}" th:id="${note.id} + 'n'">
                                    <button class = "btn d-block mark-block p-0 m-0" th:onclick="'location.replace(\'/home/'+${selectedGroup}+'/'+${note.id}+'\')'">
                                        <div th:class="'fill-block ' + (${note.id eq selectedNote}?'back-color-md')">
                                            <table class = "btn-table">
                                                <tr>
                                                    <td class="btn-table-big" th:id="${note.id}" th:text="${note.name}"></td>
                                                    <td class="btn-table-small">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="btn-table-big" th:text="${note.description}">

                                                    </td>
                                                    <td class="btn-table-small">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </button>
                                    <hr class="p-0 m-0"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span9">
            <div th:if="${noteIsSelected}">
                <p></p>
                <input onchange="saveNote(noteID, false)" autocomplete="off" id="note-name" type="text" placeholder="Название заметки" th:field="${note.name}" class="input-medium search-query text-color-light back-color-md input-field-name"/>
                <p></p>
                <div class="btn-block d-inline">
                    <button class="btn back-color-md text-color-light" th:onclick="'saveNote('+ ${selectedNote} + ',true)'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                            <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                        </svg>
                    </button>

                    <button class="btn back-color-md text-color-light" th:onclick="'shareNote('+ ${selectedNote} + ')'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                            <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                        </svg>
                    </button>
                </div>
                <div class="fill-row text-right d-inline">
                    <button class="btn back-color-md font-red" th:onclick="'removeNote('+ ${selectedNote} + ')'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </button>
                </div>
                <p></p>
                <textarea onchange="saveNote(noteID, false)" id="note-body" class="back-color-md text-color-light input-field-main" placeholder="Заметка" th:field="${note.content}"></textarea>
                <p></p>
            </div>
        </div>
    </div>
</div>


</body>
</html>