<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Список книг</title>
</head>
<body class="back-color-main">
<div class="container">

    <div class ="back-color-md row-fluid">
        <div class = "span9">
            <h2>Книги</h2>
        </div>
        <div class = "span3">
            <h4 th:text="'Пользователь: '+${root.user.email}"></h4>
        </div>
    </div>
    <p></p>
    <div class="row-fluid">
        <div class="span9 back-color-md">
            <table class = "table table-bordered table-hover">
                <tr>
                    <td>Автор</td>
                    <td>Название</td>
                    <td>Год</td>
                    <td></td>
                </tr>

                <tr class = "book" th:each="book: ${root.books}">
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.year}"></td>
                    <td class="text-center"><a class = "btn font-red text-center" th:href="'/remove/' + ${book.id}">Удалить</a></td>
                </tr>
            </table>
        </div>
        <div class="span3 border text-center">
            <p>
                <a th:href="@{/books/edit/-1}" class = "btn-large btn-block back-color-front">Добавить книгу</a>
            </p>
            <p>
                <a th:href="@{/exit}" class = "btn-large btn-block back-color-front font-red">Выйти из аккаунта</a>
            </p>
<!--            <form action = "#" th:action="@{/books/edit/-1}" th:object="${root}" method="get">-->
<!--                <input class = "btn-large btn-block back-color-front" type="submit" value="Добавить книгу"/>-->
<!--            </form>-->



<!--            <form action="#" th:action="@{/exit}" th:object="${root}" method="get">-->
<!--                <input class = "btn-large btn-block  back-color-front" type="submit" value="Выйти из аккаунта"/>-->
<!--            </form>-->
        </div>
    </div>
</div>
</body>
</html>