<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    <script>
        function create_text(id, place, text) {
            let element = document.getElementById(id)
            if (element == null) {
                element = document.createElement("p")
                element.setAttribute("class", id)
                element.textContent = text
                element.setAttribute("id", id)
                document.getElementById(place).appendChild(element)
            }
        }

        function change_pass() {
            let pass = document.getElementById("password")
            let n_pass1 = document.getElementById("ch-password")
            let n_pass2 = document.getElementById("ch-password-2")
            if ((n_pass1.value === n_pass2.value) && (n_pass1.value !== "")) {
                axios.get("/profile/change_password", {
                    withCredentials: true,
                    params: {
                        "password": pass.value,
                        "new_password": n_pass1.value
                    }
                }).then(function (object){
                    location.reload()
                }).catch(function (error) {
                    console.log(error.data)
                    create_text("pass-error", "pass_input", "Неверный пароль")
                })
            } else {
                create_text("pass-neq", "pass_change", "Пароли не совпадают")
            }
        }

        function remove_user() {
            let pass = document.getElementById("password")
            let mark = document.getElementById("remove-ready")
            if (mark.checked) {
                axios.get("/profile/remove_user", {
                    withCredentials: true,
                    params: {
                        "password": pass.value
                    }
                }).then(function (object){
                    axios.post("/logout", {withCredentials: true})
                    location.reload()
                }).catch(function (error) {
                    console.log(error.data)
                    create_text("pass-error", "pass_input", "Неверный пароль")
                })
            } else {
                create_text("no-mark", "main-element", "Вы недостаточно хотите удалить свой аккаунт!")
            }
        }
    </script>

    <title>Notes</title>
</head>
<body class="back-color-main" id = "root_element">
<div class="container-fluid p-0 m-0">
    <header class="row p-0 m-0">
        <div class="col-1 p-0 text-right">
            <a th:href="@{/}">
                <svg xmlns="http://www.w3.org/2000/svg" height="4.5rem" fill="currentColor" class="bi bi-sticky text-color-light p-3" viewBox="0 0 16 16">
                    <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5v-11zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293L9 13.793z"/>
                </svg>
            </a>
        </div>
        <div class="col-3 p-0 m-0 text-left">
            <h1 class="text-color-light p-0 m-0">Notes</h1>
            <p  class="text-color-light p-0 m-0">© Круглов Игорь 2021</p>
        </div>
        <div class="col p-0 text-center">
            <a th:href="@{/}">Вернуться на главную</a>
        </div>
        <div class = "col-2 p-0 fill-col text-right offset-right">
            <div class="btn-group fill-block">
                <button type="button" class="btn userblock back-color-no text-color-light">
                    <h3 class="d-inline" th:text="${user.username}"></h3>
<!--                    <img th:src="@{'/uploads/'+${user.username}+'.png'}" class="img-thumbnail"/>-->
                </button>

                <button type="button" class="btn back-color-no dropdown-toggle dropdown-toggle-split"
                        style="max-width: 1.5vw" data-toggle="dropdown" aria-expanded="false">
                </button>

                <ul class="dropdown-menu">
                    <li>
                        <form th:action="@{/profile}" method="get">
                            <input type="submit" value="Профиль" class="dropdown-item text-color-ref"/>
                        </form>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Выход" class="dropdown-item font-red"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <hr/>

    <div class="container" id="main-element">
        <h1>Профиль</h1>
        <div class="fill-row">
<!--            <img th:src="'/uploads/'+${user.username}+'.png'" class="d-inline img-thumbnail"/>-->
            <h2 th:text="'Имя пользователя: ' + ${user.username}"></h2>

            <p></p>
<!--            <h3>Смена аватара:</h3>-->
<!--            <form method="get" th:action="@{/profile/new_img}">  enctype="multipart/form-data"-->
<!--                <input type="file" />-->
<!--                <input type="submit" class="btn btn-outline-info" value="Сменить"/>-->
<!--            </form>-->
        </div>

        <hr class="m-5"/>
        <div id="pass_input">
        <h2 class="font-red">Опасная зона</h2>
        <h3 class="d-inline">Введите пароль: </h3> <input class="d-inline" id="password" type="password"/>

        </div>
        <hr/>
        <div id="pass_change">
        <h2 class="font-red">Смена пароля: </h2>
            <table>
                <tr>
                    <td>Новый пароль: </td>
                    <td><input class="d-inline" id="ch-password" type="password" autocomplete="false"/></td>
                </tr>
                <tr>
                    <td>Новый пароль ещё раз: </td>
                    <td><input class="d-inline" id="ch-password-2" type="password" autocomplete="false"/></td>
                </tr>
            </table>
            <button class="btn btn-danger" onclick="change_pass()">Сменить пароль</button>
        </div>
        <hr/>
        <hr/>
        <h2 class="font-red">Удалить пользователя</h2>
        <label for="remove-ready">Я действительно хочу удалить свой аккаунт </label>
        <input type="checkbox" id="remove-ready"/>


        <button class="btn btn-danger" onclick="remove_user()">Удалить аккаунт</button>
    </div>
</div>
</body>
</html>