<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Регистрания/Вход</title>
</head>
<body class="back-color-main">
    <div class="align-content-center my-modal border p-2 back-color-md">
        <form action="#" th:action="@{/registration}" th:object="${registerForm}" method="post">
            <p class="text-center">Регистранция/Вход</p>
            <p>
                <table>
                    <tr>
                        <td>Почта:</td>
                        <td><input сlass="back-color-front" type="email" th:field="${registerForm.email}"/></td>
                    </tr>
                    <tr>
                        <td>Пароль:</td>
                        <td><input сlass="back-color-front" type="password" th:field="${registerForm.password}"/></td>
                    </tr>
                </table>
            </p>
            <p class="text-center">
                <input class ="back-color-front" type="submit" value="Подтвердить"/>
            </p>
        </form>
    </div>
</body>
</html>